<template>
    <div>
    <span> {{ markerLatLng }} </span>
    <l-map :zoom="zoom" :center="center"  >
      <l-tile-layer :url="url" />
      <l-marker :lat-lng.sync="markerLatLng" :visible="true" tooltip="tooltip for marker1" :draggable="true" />
    </l-map>
    </div>
</template>

<script>

import { LMap, LTileLayer, LMarker} from 'vue2-leaflet'
import { Icon } from 'leaflet'
import 'leaflet/dist/leaflet.css'

// eslint-disable-next-line no-underscore-dangle
delete Icon.Default.prototype._getIconUrl
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
})
/* eslint-disable global-require */

export default {
    name: "LeafletMap",
    props: {
        center: Array,
        markerLatLng: {},
    },
    components: {
        LMap,
        LTileLayer,
        LMarker,
    },
    data() {
        return {
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            zoom: 15,
        }
    },
}
</script>

<style lang="scss">
.vue2leaflet-map{
  &.leaflet-container{
    height: 350px;
  }
}
</style>
