
<template>
  <main>
    <div id="map"></div>
  </main>
</template>

<script>
import mapboxgl from "mapbox-gl";
export default {
  name: "MapboxMap",
  props: {
    locations: Array,
  },
  data() {
    return {
      center: [],
      zoom: 10.5
    };
  },
  mounted() {
    this.center = this.locations;
    this.createMap();
  },
  methods: {
    createMap() {
      // instantiate map.  this method runs once after the vue component is mounted to the dom
      console.log(this.center, 'create map')
      this.map = new mapboxgl.Map({
        accessToken:
          "pk.eyJ1IjoiYmZyaWVkbHkiLCJhIjoiY2p4bHd1OXdpMGFycDN0bzFiNWR4d2VyNyJ9.3hQjvgyoPoCuRx-Hqr_BFQ",
        container: "map",
        style: 'mapbox://styles/mapbox/streets-v9',
        minzoom: 5,
        center: this.center, // use initial data as default
        zoom: this.zoom,
      });
      // set mapbox event listeners to update Vue component data
      this.map.on("move", () => {
        // set the vue instance's data.center to the results of the mapbox instance method for getting the center
        this.center = this.map.getCenter();
      });
      this.map.on("zoom", () => {
        // set the vue instance's data.zoom to the results of the mapbox instance method for getting the zoom
        this.zoom = this.map.getZoom();
      });
      this.map.on("load", () => {
        // set the vue instance's data.zoom to the results of the mapbox instance method for getting the zoom
        this.map.jumpTo({ 'center': this.center, 'zoom': 14 });
         console.log(this.center, 'load map')
         // Set options
        this.map.resize();
        var marker = new mapboxgl.Marker({
            color: "#FFFFFF",
            draggable: true
          }).setLngLat(this.center)
          .addTo(this.map);
        });
    }
  }
};
</script>

<style scoped>
.map {
  grid-column: 1/-1;
  height: 100%;
  position: relative;
}
  canvas, .mapboxgl-canvas {
    height: 100%;
  }
</style>