<template>
  <b-sidebar id="add-new-hospital-sidebar" :visible="isAddNewHospitalSidebarActive"
    bg-variant="white" sidebar-class="sidebar-lg" shadow backdrop no-header
    right  @change="(val) => $emit('update:is-add-new-hospital-sidebar-active', val)">
    
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          Agregar nuevo hospital
        </h5>
        <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click="hide" />
      </div>
      
        <b-card no-body class="card-developer-meetup" >
            <div class="bg-light-success rounded-top text-center">
                <b-img :src="imageSrc" v-if="imageSrc.length > 0" :alt="imageSrc" height="170" />
            </div>
            <!-- BODY -->
            <validation-observer #default="{ handleSubmit }" ref="refFormObserver" >
                <!-- Form -->
                <b-form class="p-2" @submit.prevent="handleSubmit(onSubmit)" @reset.prevent="resetForm" >
                    <!-- Full Name -->
                    <validation-provider #default="validationContext" name="nombre" rules="required" >
                        <b-form-group label="Nombre" label-for="nombre" >
                        <b-form-input id="nombre"  v-model="hospital.name" autofocus
                            :state="getValidationState(validationContext)" trim placeholder="Nombre del hospital" />
                        <b-form-invalid-feedback>
                            {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                    <!-- Image -->
                    <validation-provider #default="validationContext" name="imagen" rules="required" >
                        <b-form-group label="Imagen de hospital" label-for="hospital" >
                        <b-form-file id="hospital"  v-model="hospital.image" @change="previewImage"
                            :state="getValidationState(validationContext)"
                            placeholder="Selecciona una imagen"/>
                            <b-form-invalid-feedback>
                                {{ validationContext.errors[0] }}
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                    <!-- Phone -->
                    <validation-provider #default="validationContext" name="telefono" rules="required|integer" >
                        <b-form-group label="Teléfono" label-for="telefono" >
                        <b-form-input id="telefono"  v-model="hospital.phone"
                            :state="getValidationState(validationContext)" trim placeholder="Teléfono del hospital"/>
                        <b-form-invalid-feedback>
                            {{ validationContext.errors[0] }}
                        </b-form-invalid-feedback>
                        </b-form-group>
                    </validation-provider>

                    <b-row>
                        <b-col md="6">
                            <!-- Total de camas -->
                            <validation-provider #default="validationContext" name="total camas" rules="required|integer" >
                                <b-form-group label="Total" label-for="bedTotal" >
                                <b-form-input id="bedTotal"  v-model="hospital.bedTotal"
                                    :state="getValidationState(validationContext)" trim placeholder="Total de camas"/>
                                <b-form-invalid-feedback>
                                    {{ validationContext.errors[0] }}
                                </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="6">
                            <!-- Casos covid -->
                            <validation-provider #default="validationContext" name="casos covid" rules="required|integer">
                                <b-form-group label="Casos covid" label-for="covidPatient" >
                                <b-form-input id="covidPatient"  v-model="hospital.covidPatient" 
                                    :state="getValidationState(validationContext)" trim placeholder="Casos covid"/>
                                <b-form-invalid-feedback>
                                    {{ validationContext.errors[0] }}
                                </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                        </b-col>
                        <b-col md="12">
                            <!-- Camas disponibles -->
                            <b-form-group label="Camas disponibles" label-for="bedAvailable" >
                            <b-form-input id="bedAvailable"  v-model="bedAvailable" plaintext/>
                            </b-form-group>
                        </b-col>
                    </b-row>

                   
                    
                </b-form>
            </validation-observer>
             <b-card-header>
                <div class="input-group col-md-12" id="myAutocomplete">
                <GmapAutocomplete ref="gmapAutocomplete" @place_changed='setPlace' :options="{fields: ['geometry']}" class="form-control w-100"/>
                </div>
            </b-card-header>
            <b-card-body>
            <GmapMap :options="mapOptions" :center='center' :zoom='12'  style='width:100%;  height: 400px;' >
                <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :icon="m.icon"/>
            </GmapMap>
            
            </b-card-body>
        </b-card>
      <!-- BODY -->
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BCard, BMedia, BMediaBody, BMediaAside,
  BAvatar,BCardText,BCardTitle,BCardBody, BImg, BCol,BRow,
  BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
  BFormFile, BCardHeader
} from 'bootstrap-vue'


import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref, computed, watch } from '@vue/composition-api'
import { required, integer, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'

export default {
  components: {
    BSidebar, BCard, BMedia, BMediaBody, BMediaAside,
    BAvatar,BCardText,BCardTitle,BCardBody,BImg,BCol, BRow,
    BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton,
    BFormFile,BCardHeader,
    // Form Validation
    ValidationProvider, ValidationObserver,
  },
  directives: {
    Ripple,
  },

  mounted() {
    this.geolocate();
  },
  methods: {
    setPlace(place) {
      this.markers.splice(this.markers.findIndex(v => v.id === 'markerSetPlace' || v.id === 'myId' ), 1);  
      this.createMarks({ 
        id: "markerSetPlace", 
        lat: place.geometry.location.lat(), 
        lng: place.geometry.location.lng(), 
        icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
      })
      this.center  = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng(),
      };
      // this.getNameLocation(this.center)
    },
    getNameLocation(coordenadas){
      this.$gmapApiPromiseLazy().then(() => {
        const geocoder = new google.maps.Geocoder()
            geocoder.geocode({ 'location': coordenadas  }, function (results, status) {
                if (status === 'OK') {
                if (results[1]) {
                    this.autocomplete = results[1].formatted_address
                    console.log(this.autocomplete)
                    }
                // initialize(latitude,longitude);
                }
            }.bind(this))
        })
    },


    createMarks({ id, lat, lng, hospital, icon = "https://www.shareicon.net/data/512x512/2016/08/04/806609_medical_512x512.png" }){
 
      this.markers.push({
        id: id,
        position: { lat:lat, lng:lng }, 
        hospital: hospital,
        icon:  {
          url: icon,
          size: {width: 40, height: 40, f: 'px', b: 'px',},
          scaledSize: {width: 40, height: 40, f: 'px', b: 'px',},
        },
      });
    },

    geolocate: function() {
        console.log("Entro 1")
       this.$getLocation({
           enableHighAccuracy: true, //defaults to false
            timeout: Infinity, //defaults to Infinity
            maximumAge: 0 //defaults to 0
        })
        .then(pos => {
            console.log("Entro 2")
            this.center = { lat: pos.lat, lng: pos.lng }
            this.createMarks({ 
              id: "myId", 
              lat: pos.lat, lng: pos.lng, 
              icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
            })
        })
        .catch(error =>{
          console.log("erro ", error)
        })
    },
  },

  data() {
    return {
        required,
        integer,
        center: { lat: 0.0, lng: 0.0 },
        markers: [],
        mapOptions: {
            mapTypeControl: false
        },
        
    }
  },
  props: {
    isAddNewHospitalSidebarActive: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    
    const hospitalBlank = {
            name: '',
            image: null,
            slug: '',
            address: '',
            description: '',
            phone: '',
            bedTotal: '',
            bedAvailable: '',
            covidPatient: '',
            latitude: '',
            longitude:''
        }

    const hospital = ref(JSON.parse(JSON.stringify(hospitalBlank)))
    
    const imageSrc = ref('')
    const resetuserData = () => {
      hospital.value = JSON.parse(JSON.stringify(hospitalBlank))
    }

    const onSubmit = () => {
      store.dispatch('app-user/addUser', hospital.value)
        .then(() => {
          emit('refetch-data')
          emit('update:is-add-new-user-sidebar-active', false)
        })
    }

    const previewImage = (event) => {
        let input = event.target;
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = (e) => {
                imageSrc.value = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    const bedAvailable = computed(() => {
        hospital.value.bedAvailable = hospital.value.bedTotal - hospital.value.covidPatient;
        return hospital.value.bedAvailable;
    })

    const casosCovid = computed(() => {
        hospital.value.covidPatient = hospital.value.bedTotal < hospital.value.covidPatient 
            ? 0: hospital.value.covidPatient ;
        return hospital.value.covidPatient;
    })

    const base64Encode = data =>
    new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(data);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });

    const {
      refFormObserver,
      getValidationState,
      resetForm,
    } = formValidation(resetuserData)

    return {
      hospital,
      onSubmit,
      bedAvailable,
      refFormObserver,
      casosCovid,
      imageSrc,
      previewImage,
      getValidationState,
      resetForm,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';

#add-new-hospital-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
