<template>
    <div>
        <NavBar/>
        <Banner/>
        <BannerHospital/>
        <ContactView/>
        <Footer/>
    </div>

</template>

<script>


import  NavBar  from "./components/NavBar.vue";
import  Banner  from "./components/Banner.vue";
import  ContactView  from "./components/ContactView.vue";
import  Footer  from "./components/Footer.vue";
import  BannerHospital  from "./components/BannerHospital.vue";

export default {
  components: {
    NavBar,
    Banner,
    ContactView,
    Footer,
    BannerHospital
  },
  
}
</script>

<style lang="scss">
    @import '@core/scss/vue/pages/page-faq.scss';
    @import '@core/scss/vue/pages/page-pricing.scss';

    .pricing-free-trial {
        margin-bottom: 0px !important;
        margin-top: 4.0rem !important;;
    }
    @media (max-width: 575.98px){
        .pricing-free-trial {
            margin-top: 0.5rem !important;
        }
        .b-sidebar.sidebar-lg {
            width: 25rem !important;
        }
    } 
</style>
