<template>
   <!-- Banner  -->
        <div class="pricing-free-trial">
            <b-row>
                <b-col lg="10" offset-lg="3" class="mx-auto" >
                    <div class="pricing-trial-content d-flex justify-content-between">
                        <div class="text-center text-md-left mt-3">
                            <h3 class="text-primary">
                                Busca el hospital mas cercano
                            </h3>
                            <h5>Verifica si existe un hospital disponible y cercano de tu hubicación</h5>
                        </div>
                        <!-- images -->
                        <b-img fluid :src="require('@/assets/images/illustration/pricing-Illustration.svg')" class="pricing-trial-img" alt="svg img" />
                        <!--/ images -->
                    </div>
                </b-col>
            </b-row>
        </div>
    <!--/ Banner  -->
</template>

<script>
import { BImg, BRow, BCol } from 'bootstrap-vue'
export default {
    components: {
        BImg, BRow, BCol
    }
}
</script>

<style>

</style>