<template>

<div>
    <modal-detail-hospital v-if="Object.keys(hospital).length > 0" 
      :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
      :hospital="hospital"
    />

    <b-row class="pricing-card">
      <b-col offset-sm-2 sm="12" md="12" offset-lg="2" lg="12" class="mx-auto" >
        <b-col v-show="!enableGps && fetchData" cols="12" class="text-center" >
          <h4 class="mt-4">
            Permite el acceso a tu ubicación para obtener información de los hospitales cercanos
          </h4>
        </b-col>
        <b-card-body>
              <b-row class="pricing-card">
                <b-col offset-sm-2 sm="12" md="4" offset-lg="2" lg="4" class="mx-auto" >
                  <b-overlay :show="enableGps && fetchData" opacity="0.3" rounded="sm" no-fade >
                    <b-card class="card-transaction" no-body >
                      <b-card-header>
                        <div class="input-group col-md-12" id="myAutocomplete">
                          <GmapAutocomplete ref="gmapAutocomplete" @place_changed='setPlace' :options="{fields: ['geometry']}" class="form-control w-100"/>
                        </div>
                      </b-card-header>
                      <b-card-body>
                        <GmapMap :options="mapOptions" :center='center' :zoom='12'  style='width:100%;  height: 400px;' >
                          <DirectionsRenderer travelMode="DRIVING" :origin="origin" :destination="destination"/>
                          <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :icon="m.icon"  @click="selectHospitalIcon(m)"/>
                        </GmapMap>
                      
                      </b-card-body>
                    </b-card>
                  </b-overlay>
                </b-col>
                <b-col offset-sm-2 sm="12" md="8" offset-lg="2" lg="8" class="mx-auto" >
                  <b-card  class="card-transaction" no-body >
                    <b-card-header>
                      <b-card-title >Lista de hospitales</b-card-title>
                    </b-card-header>
                    <b-card-body>
                      <b-overlay :show="enableGps && fetchData" opacity="0.3" rounded="sm" no-fade >
                        <b-table selectable select-mode="single" responsive :items="listHospitalFirst" 
                          :fields="fields" class="mb-0" @row-selected="selectHospital" >
                        </b-table>
                      </b-overlay>
                    <!-- <div v-for="hospital in listHospitalFirst" @click="selectHospital(hospital)" :key="hospital.id" class="transaction-item cursor-pointer" >
                      <b-media no-body>
                        <b-media-aside>
                          <b-avatar rounded size="42" variant="primary" :src="hospital.image">
                          </b-avatar>
                        </b-media-aside>
                        <b-media-body>
                          <h6 class="transaction-title">
                            {{ hospital.name }}
                          </h6>
                          <small>Camas disponible: {{ hospital.bedAvailable }}</small>
                        </b-media-body>
                      </b-media>
                      <div>
                          <small>Casos covid </small>
                      <div class="font-weight-bolder text-center" 
                          :class="hospital.covidPatient > 100 ? 'text-danger':'text-success'" >
                        {{ hospital.covidPatient }}
                      </div>

                      </div>
                    </div> -->
                  </b-card-body>
                  </b-card>
              </b-col>
            </b-row>
        </b-card-body>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import {
  BRow, BCol, BCard, BCardBody, BForm, BInputGroup, 
  BFormInput, BCardText, BInputGroupPrepend, BLink,
  BButton, BMedia, BAvatar,  BDropdown, BDropdownItem, 
  BPagination, BTooltip,  BCardHeader, BMediaBody, BMediaAside, 
  BOverlay, BTable, BProgress, BBadge, BCardTitle, BCardSubTitle, BFormCheckbox,
} from 'bootstrap-vue'

import ModalDetailHospital from './ModalDetailHospital.vue'

import DirectionsRenderer from "./DirectionsRenderer";

export default {
  components: {
    DirectionsRenderer,
    BRow, BCol, BCard, BCardBody,
    BCardText, BForm, BInputGroup,
    BInputGroupPrepend, BFormInput,
    ModalDetailHospital, BOverlay,
    BProgress, BBadge,BTable,
    BCardTitle, BCardSubTitle, BFormCheckbox,
    BButton, BMedia, BAvatar,  BDropdown, BDropdownItem, 
    BPagination, BTooltip,BCardHeader, BMediaBody, BMediaAside, 
  },
  data() {
    return {
      hospitalList: [],
      isAddNewUserSidebarActive: false,
      enableGps : true,
      fetchData: true,
      hospital: {},
      center: { lat: 0.0, lng: 0.0 },
      markers: [],
      mapOptions: {
          mapTypeControl: false
      },
      autocomplete: '',
      origin: null,
      destination: null,
      fields: [
        {key: 'name', label: 'Nombre del hsopital'},
        {key: 'timeArrive', label: 'Minutos para llegar'},
        {key: 'bedTotal', label: 'Camas totales'},
        {key: 'covidPatient', label: 'Camas ocupadas'},
        {key: 'bedAvailable', label: 'Cama disponibles'},
      ],

    }
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    setPlace(place) {
      this.markers.splice(this.markers.findIndex(v => v.id === 'markerSetPlace' || v.id === 'myId' ), 1);
    
      this.createMarks({ 
        id: "markerSetPlace", 
        lat: place.geometry.location.lat(), 
        lng: place.geometry.location.lng(), 
        icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
      })
      this.center  = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng(),
      };
      this.getNameLocation(this.center)
      this.getKmDistanceHospital()
    },

    getNameLocation(coordenadas){
      this.$gmapApiPromiseLazy().then(() => {
        const geocoder = new google.maps.Geocoder()
            geocoder.geocode({ 'location': coordenadas  }, function (results, status) {
              if (status === 'OK') {
                if (results[1]) {
                    this.autocomplete = results[1].formatted_address
                    console.log(this.autocomplete)
                  }
                // initialize(latitude,longitude);
              }
            }.bind(this))
          })
    },

    geolocate: function() {
       this.$getLocation({
            enableHighAccuracy: true, //defaults to false
            timeout: Infinity, //defaults to Infinity
            maximumAge: 0 //defaults to 0
        })
        .then(pos => {
            this.center = { lat: pos.lat, lng: pos.lng }
            this.getHospitalsBackend()
            this.createMarks({ 
              id: "myId", 
              lat: pos.lat, lng: pos.lng, 
              icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
            })
            this.getNameLocation(this.center)
            this.fetchData = false
            this.show = false
        })
        .catch(error =>{
          this.enableGps = false
        })
    },

    createMarks({ id, lat, lng, hospital, icon = "https://www.shareicon.net/data/512x512/2016/08/04/806609_medical_512x512.png" }){
 
      this.markers.push({
        id: id,
        position: { lat:lat, lng:lng }, 
        hospital: hospital,
        icon:  {
          url: icon,
          size: {width: 40, height: 40, f: 'px', b: 'px',},
          scaledSize: {width: 40, height: 40, f: 'px', b: 'px',},
        },
      });
    },

    getHospitalsBackend() {
      //this.$loading(true);
      this.$http
        .get("/api/hospitals")
        .then(res => {
          this.hospitalList = res.data.data ?? []
          this.getKmDistanceHospital()
      })
      .catch(err => {
        console.log(err)
          //this.$loading(false);
      })
      .finally(() => {
          //this.$loading(false);
      });
    },

    getKmDistanceHospital() {
      let hospitals = this.hospitalList;
      this.hospitalList = []
        hospitals.forEach(item => {
          item.km = this.getDistanceArrive([item.latitude, item.longitude],[ this.center.lat, this.center.lng ])
          item.timeArrive = this.getTimeArrive(item.km)
          return item
        })

        this.hospitalList = hospitals;
    },

    getTimeArrive(distance) {
      let km = 0;
      if( distance <= 10 ){ 
        km = 20 
        console.log("Entro menor 15")
      } else  if( distance >= 10 || distance <= 20){
        console.log("Entro menor 20")
        km = 30
      } else {
        console.log("Entro otro")
        km = 60
      }
      
      let tiempo = distance / km;
      return tiempo >= 1 ? `${Math.round(tiempo.toFixed(2))} Horas.` : `${Math.round((tiempo * 60))} Minutos.`
    },

    getDistanceArrive ([lat1, lon1], [lat2, lon2], isMiles = false) {
      const toRadian = angle => (Math.PI / 180) * angle;
      const distance = (a, b) => (Math.PI / 180) * (a - b);
      const RADIUS_OF_EARTH_IN_KM = 6371;

      const dLat = distance(lat2, lat1);
      const dLon = distance(lon2, lon1);

      lat1 = toRadian(lat1);
      lat2 = toRadian(lat2);
      // Haversine Formula
      const a =
        Math.pow(Math.sin(dLat / 2), 2) +
        Math.pow(Math.sin(dLon / 2), 2) * Math.cos(lat1) * Math.cos(lat2);
      const c = 2 * Math.asin(Math.sqrt(a));

      let finalDistance = RADIUS_OF_EARTH_IN_KM * c;

      if (isMiles) {
        finalDistance /= 1.60934;
      }
      return finalDistance;
    },

    selectHospitalIcon(item) {
      if(item.hospital != null ) {
        //this.isAddNewUserSidebarActive = true;
        let found = this.hospitalList.find(element => element.id == item.hospital.id );
        //this.polygon.latlngs = [this.center,[ found.latitude, found.longitude]],
        found.timeArrive = this.getTimeArrive(found.km)

        this.origin = { query: this.autocomplete }
        this.destination = { query: this.found.address }
        this.hospital = found
      }
    },

    selectHospital(item) {
        // this.isAddNewUserSidebarActive = true;
        //this.polygon.latlngs = [this.center,[ hospital.latitude, hospital.longitude]],
        const hospital = item[0]
        hospital.timeArrive = this.getTimeArrive(hospital.km)
  
        this.origin = { query: this.autocomplete }
        this.destination = { query: hospital.address }
        this.hospital = hospital
    },

  },

  computed: {
    listHospitalFirst: function () {
      return this.hospitalList.sort(function (a, b) {
          return a.km - b.km;
      });
    }
  },
};
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-knowledge-base.scss';
</style>