<template>
  <!-- contact us -->
    <section class="faq-contact">
      <b-row class="mt-5 pt-75 text-center">
        <b-col cols="12">
          <h2>Contacto</h2>
        </b-col>
        <b-col sm="6">
          <b-card class="shadow-none py-1 faq-contact-card" >
            <b-avatar size="42" rounded variant="light-primary" class="mb-2" >
              <feather-icon  icon="PhoneCallIcon" size="18" />
            </b-avatar>
            <h4>+ (710) 2548 2568</h4>
            <span class="text-body">!Estaremos feliz en ayudarte!</span>
          </b-card>
        </b-col>
        <b-col sm="6">
          <b-card class="shadow-none py-1 faq-contact-card"  >
            <b-avatar size="42" rounded variant="light-primary" class="mb-2"  >
              <feather-icon icon="MailIcon" size="18" />
            </b-avatar>
            <h4>support@help.com</h4>
            <span class="text-body">!Envia nos un correo para mas información!</span>
          </b-card>
        </b-col>
      </b-row>
    </section>
    <!--/ contact us -->
</template>

<script>

import { BAvatar, BCard, BCardBody, BRow, BCol } from 'bootstrap-vue'

export default {
    components: {
        BAvatar, BCard, BCardBody, BRow, BCol
    }
}
</script>

<style>
  .faq-contact{ margin-top: -6.3rem !important; }
</style>