<template>
    <!-- Footer -->
    <footer class="footer footer-light footer-static">
        <slot name="footer">
            <app-footer />
        </slot>
    </footer>
    <!-- /Footer -->
</template>

<script>

import AppFooter from '@core/layouts/components/AppFooter.vue';

export default {
    components: {
        AppFooter
    }
}
</script>