<template>
  <b-sidebar id="add-new-user-sidebar" :visible="isAddNewUserSidebarActive"
    bg-variant="white" sidebar-class="sidebar-lg" shadow backdrop no-header
    right  @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)">
    
    <template #default="{ hide }">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
        <h5 class="mb-0">
          {{ hospital.name }}
        </h5>
        <feather-icon class="ml-1 cursor-pointer" icon="XIcon" size="16" @click="hide" />
      </div>
      
      <b-card no-body class="card-developer-meetup" >
        <div class="bg-light-success rounded-top text-center">
            <b-img :src="hospital.image" :alt="hospital.image" height="170" />
        </div>
        <b-card-body>
            <!-- metting header -->
            <div class="meetup-header d-flex align-items-center">
                <div class="meetup-day">
                    <h6 class="mb-0"> Total de camas </h6>
                    <h3 class="mb-0"> {{ hospital.bedTotal }}  </h3>
                </div>
                <div class="meetup-day">
                    <h6 class="mb-0"> Cama disponible </h6>
                    <h3 class="mb-0"> {{ hospital.bedAvailable }}  </h3>
                </div>
                <div class="meetup-day">
                    <h6 class="mb-0"> Pacientes por covid </h6>
                    <h3 class="mb-0"> {{ hospital.covidPatient }}  </h3>
                </div>
            </div>
            <div class="meetup-header d-flex align-items-center">
                <div class="my-auto">
                    <b-card-title class="mb-25">
                        {{  hospital.name  }}
                    </b-card-title>
                </div>
            </div>
            <!--/ metting header -->

            <!-- media -->
            <b-media no-body >
                <b-media-aside class="mr-1">
                    <b-avatar rounded variant="light-primary" size="34" >
                        <feather-icon icon="PhoneCallIcon" size="18" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body>
                    <h6 class="mb-0">
                        Teléfono
                    </h6>
                    <small>{{ hospital.phone }} </small>
                </b-media-body>
            </b-media>
            <b-media no-body >
                <b-media-aside class="mr-1">
                    <b-avatar rounded variant="light-primary" size="34" >
                        <feather-icon icon="CalendarIcon" size="18" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body>
                    <h6 class="mb-0">
                        Distancia aproximada
                    </h6>
                    <small>{{ (hospital.km ).toFixed(2) }} Km.</small>
                </b-media-body>
            </b-media>
            <b-media no-body >
                <b-media-aside class="mr-1">
                    <b-avatar rounded variant="light-primary" size="34" >
                        <feather-icon icon="WatchIcon" size="18" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body>
                    <h6 class="mb-0">
                        Tiempo de llegada (Sin tráfico)
                    </h6>
                    <small>{{ hospital.timeArrive  }}</small>
                </b-media-body>
            </b-media>
            <b-media no-body >
                <b-media-aside class="mr-1">
                    <b-avatar rounded variant="light-primary" size="34" >
                        <feather-icon icon="MapPinIcon" size="18" />
                    </b-avatar>
                </b-media-aside>
                <b-media-body>
                    <h6 class="mb-0">
                        Dirección
                    </h6>
                    <small>{{ hospital.address }}</small>
                </b-media-body>
            </b-media>
            </b-card-body>
        </b-card>
      <!-- BODY -->
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar, BCard, BMedia, BMediaBody, BMediaAside,
  BAvatar,BCardText,BCardTitle,BCardBody, BImg,
} from 'bootstrap-vue'

export default {
  components: {
    BSidebar, BCard, BMedia, BMediaBody, BMediaAside,
    BAvatar,BCardText,BCardTitle,BCardBody,BImg,
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
    hospital: {
      type: Object,
      required: true,
    },
  },
  created(){}
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';

#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}
</style>
