<template>
    <b-navbar toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand href="/">{{ appName }}</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown v-if="isLoggedIn" right>
                    <template #button-content>
                        <em>{{ username.name }}</em>
                    </template>
                    <b-dropdown-item router-link :to="{ name: 'home'}" >Pane de control</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item v-if="!isLoggedIn" router-link :to="{ name: 'auth-login'}" right >Iniciar sesión</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>
import { 
    BAlert, BLink , BNavbar, BNavbarBrand,
    BNavbarNav, BNavbarToggle, BCollapse, 
    BNavItem, BNavItemDropdown, BDropdownItem 
} from 'bootstrap-vue'
    
import { $themeConfig } from '@themeConfig'

import { isUserLoggedIn, getUserData } from '@/auth/utils'

export default {
    components: {
        BAlert, BLink , BNavbar, BNavbarBrand,
        BNavbarNav, BNavbarToggle, BCollapse, 
        BNavItem, BNavItemDropdown, BDropdownItem 
    },
    data() {
        return {
            appName: $themeConfig.app.appName,
            isLoggedIn: false,
            username: {}
        }
    },

    created(){
        console.log("Entrando en la funcion create")
        this.isLoggedIn = isUserLoggedIn()
        const data  = getUserData()
        this.username = ( data ) ? data.user  : { };
        console.log(this.isLoggedIn)
    }

}
</script>

<style>

</style>