<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">

      <!-- Brand logo-->
      <b-link class="brand-logo">
        <app-logo />
        <h2 class="brand-text text-primary ml-1">
          {{ appName }}
        </h2>
      </b-link>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <b-img fluid :src="imgUrl"  alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5" >
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto" >
          <b-card-title class="mb-1 font-weight-bold" title-tag="h2" >
            Bienvenido a {{ appName }}
          </b-card-title>
          <b-card-text class="mb-2">
            Ingresa tus credenciales para acceder al sistema {{ appName }}
          </b-card-text>
          <!-- form -->
          <validation-observer ref="loginForm" #default="{invalid}"  >
            <b-form class="auth-login-form mt-2" @submit.prevent="login">
              <!-- email -->
              <b-form-group label="Email" label-for="login-email" >
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false:null"
                    name="login-email"
                    placeholder="micorreo@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Password</label>
                </div>
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid':null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false:null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="Password"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
              <!-- submit buttons -->
              <b-button type="submit" variant="primary" block :disabled="invalid" >
                Sign in
              </b-button>
            </b-form>
          </validation-observer>
        </b-col>
      </b-col>
    <!-- /Login-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'

import AppLogo from '@core/app-config/components/logo/Logo.vue'
import { $themeConfig } from '@themeConfig'

import {
  BRow, BCol, BLink, BFormGroup, BFormInput, BInputGroupAppend, 
  BInputGroup, BFormCheckbox, BCardText, BCardTitle, BImg, BForm, 
  BButton, BAlert, VBTooltip,
} from 'bootstrap-vue'

import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import store from '@/store/index'

import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'




export default {
  directives: {
    'b-tooltip': VBTooltip,
  },
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    BAlert,
    AppLogo,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      status: '',
      password: '',
      userEmail: '',
      sideImg: require('@/assets/images/pages/login-v2.svg'),
      appName: $themeConfig.app.appName,
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        this.sideImg = require('@/assets/images/pages/login-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  methods: {
    login() {
      this.$refs.loginForm.validate()
        .then(success => {
        if (success) {
          this.$loading(true);
          this.$http
            .post("/api/auth/login", {
              "email": this.userEmail,
              "password": this.password,
            })
            .then(res => {
                let { token, user } = res.data
                if( user.rol == 'editor') {
                  user.ability = [{action: "read", subject: "all"}]
                } else {
                  user.ability = [{action: "manage", subject: "all"}]
                }
                localStorage.setItem('userData', JSON.stringify({ 'user': user, 'token': token}) )
                this.$ability.update(user.ability)
                this.$router.replace('/home')
                .then(() => {
                  this.toast({
                     title: `Bienvenido ${user.name }`,
                      icon: 'CoffeeIcon',
                      variant: 'success',
                      message: `Has iniciado sesion correcta con el rol ${user.rol}.`,
                  })
                })
            })
            .catch(err => {
              this.$loading(false);
                const { data } = err.response  
              this.toast({message: data.message })
            })
            .finally(() => {
                this.$loading(false);
            });
        }
      })
    },

    toast({ title = "Error", icon = 'AlertCircleIcon',variant = 'danger', message ='' }){
      this.$toast({
        component: ToastificationContent,
        position: 'top-right',
        props: {
          title: title,
          icon: icon,
          variant: variant,
          text: message,
        },
      })
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
