<template>
  <b-img
    width=100
    height=90
    :src="logo"
    alt="logo_app.jpg"
  />
</template>

<script>

import { BImg } from 'bootstrap-vue'
import { $themeConfig } from '@themeConfig'

export default {
    components: {
        BImg,
    },
    data() {
        return {
            logo: $themeConfig.app.appLogoImage,
        }
    },
}
</script>