<template>
    <app-timeline >
      <b-alert variant="primary" :show="Object.keys(bitacoras).length == 0" >
        <div class="alert-body">
          <span>Bitacora vacia</span>
        </div>
      </b-alert>
      <app-timeline-item v-for="bitacora in bitacoras" :key="bitacora.id"
        :title="bitacora.user"
        :subtitle="bitacora.description"
        :icon="bitacora.icon"
        :time="bitacora.ago"
        variant="success"
      />
    </app-timeline>
</template>

<script>
import AppTimeline from '@core/components/app-timeline/AppTimeline.vue'
import AppTimelineItem from '@core/components/app-timeline/AppTimelineItem.vue'
const { token } = JSON.parse(localStorage.getItem('userData'))

import { BAlert } from 'bootstrap-vue';


export default {
  components: {
    AppTimeline,
    AppTimelineItem,
    BAlert,
  },
  data() {
    return {
      bitacoras: []
    }
  },
  created() {
    this.getBitacoras()
  },
  methods: {
    getBitacoras() {
      this.$loading(true);
      this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`;
        this.$http
            .get("/api/bitacoras", )
            .then(res => {
                const { data } = res.data
                console.log(data)
                this.bitacoras = data
            })
            .catch(err => {
                this.$loading(false);
            })
            .finally(() => {
                this.$loading(false);
            });
    },

    getVariant(icon) {

    }

  }
}
</script>
