<template>
    <content-with-sidebar class="blog-wrapper">
<!--         <modal-add-hospital
            :is-add-new-hospital-sidebar-active.sync="isAddNewUserSidebarActive"
            :hospital="{}"
        /> -->
        <b-row class="mb-3">
            <b-col cols="12" md="12" sm="12" >
                <div class="d-flex align-items-center justify-content-end">
                <b-button variant="primary" :to="{ name: 'admin-hospital-add'}">
                    <span class="text-nowrap">Agregar un hospital</span>
                </b-button>
                </div>
            </b-col>
        </b-row>
        <!-- blogs -->
        <b-row class="blog-list-wrapper">
            <b-col v-for="blog in hospitalList" :key="blog.img" md="4">
                <b-card tag="article" no-body>
                    <b-link v-on:click="routes(blog)" >
                        <b-img :src="blog.image" :alt="blog.image.slice(5)" class="card-img-top" />
                    </b-link>
                    <b-card-body>
                        <b-card-title>
                            <b-link v-on:click="routes(blog)" class="blog-title-truncate text-body-heading" >
                                {{ blog.name }}
                            </b-link>
                        </b-card-title>
                        <b-media no-body>
                            <b-media-aside vertical-align="center" class="mr-50" >
                                <b-avatar href="javascript:void(0)" size="24" :src="blog.image" />
                            </b-media-aside>
                            <b-media-body>
                                <small class="text-muted mr-50">by</small>
                                <small>
                                    <b-link class="text-body"> 
                                        {{ blog.slug }}
                                    </b-link>
                                </small>
                                <span class="text-muted ml-75 mr-50">|</span>
                                <small class="text-muted">{{ blog.ago }}</small>
                            </b-media-body>
                        </b-media>
                        <div class="my-1 py-25">
                            <b-link>
                                <b-badge pill class="mr-75" :variant="tagsColor(blog.slug)" >
                                    {{ blog.slug }}
                                </b-badge>
                            </b-link>
                        </div>
                        <b-card-text class="blog-content-truncate">
                            {{ blog.description }}
                        </b-card-text>
                        <hr />
                        <div class="d-flex justify-content-between align-items-end" >
                            <b-link v-on:click="routes(blog)" class="font-weight-bold" >
                                Leer más
                            </b-link>
                        </div>
                    </b-card-body>
                </b-card>
            </b-col>
            <b-col cols="12">
                <!-- pagination -->
                <div class="my-2">
                    <b-pagination
                        v-model="currentPage"
                        align="center"
                        :total-rows="rows"
                        first-number
                        last-number
                        prev-class="prev-item"
                        next-class="next-item"
                    >
                        <template #prev-text>
                            <feather-icon icon="ChevronLeftIcon" size="18" />
                        </template>
                        <template #next-text>
                            <feather-icon icon="ChevronRightIcon" size="18" />
                        </template>
                    </b-pagination>
                </div>
            </b-col>
        </b-row>
        <!--/ blogs -->
    </content-with-sidebar>
</template>

<script>

const { token } = JSON.parse(localStorage.getItem('userData'))

import {
    BRow,
    BCol,
    BCard,
    BFormInput,
    BCardText,
    BCardTitle,
    BMedia,
    BAvatar,
    BMediaAside,
    BMediaBody,
    BImg,
    BCardBody,
    BLink,
    BBadge,
    BFormGroup,
    BInputGroup,
    BInputGroupAppend,
    BPagination,
    BButton,
} from "bootstrap-vue";
import { kFormatter } from "@core/utils/filter";
import ContentWithSidebar from "@core/layouts/components/content-with-sidebar/ContentWithSidebar.vue";

import  ModalAddHospital from "./components/ModalAddHospital.vue";


export default {
    components: {
        ModalAddHospital,
        BRow,
        BCol,
        BCard,
        BFormInput,
        BCardText,
        BCardBody,
        BCardTitle,
        BMedia,
        BAvatar,
        BMediaAside,
        BMediaBody,
        BLink,
        BBadge,
        BFormGroup,
        BInputGroup,
        BInputGroupAppend,
        BImg,
        BPagination,
        ContentWithSidebar,
        BButton
    },
    data() {
        return {
            search_query: "",
            hospitalList: [],
            blogSidebar: {},
            currentPage: 1,
            perPage: 1,
            rows: 140,
            isAddNewUserSidebarActive: false,
        };
    },
    created() {
        this.getHospitals()
    },
    methods: {
        getHospitals(){
            this.$loading(true);
        this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`;
        this.$http
            .get("/api/hospitals-admin")
            .then(res => {
                console.log(res.data.data);
                this.hospitalList = res.data.data ?? [];
            })
            .catch(error => {
                console.log(error)
                this.$loading(false);
                if (error.response.status === 401) {
                    this.$router.push('/login').catch(() => {
                        localStorage.removeItem('userData')
                    })
                }
            })
            .finally(() => {
                this.$loading(false);
            });
        },
        kFormatter,
        routes(blog) {
            this.$router.push({ name: 'admin-hospital-view', params: { id: blog.id } })
        },
        tagsColor(tag) {
            if (tag === "Quote") return "light-info";
            if (tag === "Gaming") return "light-danger";
            if (tag === "Fashion") return "light-primary";
            if (tag === "Video") return "light-warning";
            if (tag === "Food") return "light-success";
            return "light-primary";
        }
    }
};
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-blog.scss";
</style>
