<template>
  <content-with-sidebar v-if="Object.keys(hospitalDetail).length > 0" class="cws-container cws-sidebar-right blog-wrapper" >
    <b-card no-body class="overflow-hidden">
    <b-row no-gutters>
      <b-col md="6">
        <b-card-img :src="hospitalDetail.image" :alt="hospitalDetail.image" class="rounded-0"></b-card-img>
      </b-col>
      <b-col md="6">
        <b-card-body :title="hospitalDetail.name">
          <b-media no-body>
              <b-media-aside vertical-align="center" class="mr-50" >
                <b-avatar  href="javascript:void(0)" size="24" :src="hospitalDetail.image" />
              </b-media-aside>
              <b-media-body>
                <small class="text-muted mr-50">by</small>
                <small>
                  <b-link class="text-body">{{ hospitalDetail.name }}</b-link>
                </small>
                <span class="text-muted ml-75 mr-50">|</span>
                <small class="text-muted">{{ hospitalDetail.ago }}</small>
              </b-media-body>
            </b-media>
            <div class="my-1 py-25">
              <b-link>
                <b-badge pill class="mr-75" :variant="tagsColor(hospitalDetail.slug)" >
                  {{ hospitalDetail.slug }}
                </b-badge>
              </b-link>
            </div>
           <b-row>
              <b-col  md="4" sm="4" >
                <statistic-card-vertical
                  icon="ActivityIcon"
                  :statistic="hospitalDetail.bedTotal"
                  statistic-title="Total de camas"
                  color="primary"
                />
              </b-col>
              <b-col  md="4" sm="4" >
                <statistic-card-vertical
                  icon="EyeIcon"
                  :statistic="hospitalDetail.bedAvailable"
                  statistic-title="Camas disponibles"
                  color="success"
                />
              </b-col>
              <b-col  md="4" sm="4" >
                <statistic-card-vertical
                  icon="EyeIcon"
                  :statistic="hospitalDetail.covidPatient"
                  statistic-title="Camas ocupadas"
                  color="danger"
                />
              </b-col>
           </b-row>
        </b-card-body>
      </b-col>
      <b-card-body>
        <small class="text-muted">Ubicación:</small>
        <div class="blog-content" v-html="hospitalDetail.address" />
        <small class="text-muted">Description:</small>
        <div class="blog-content" v-html="hospitalDetail.description" />
      </b-card-body>
    </b-row>
    <b-card-body>
          <GmapMap :options="mapOptions" :center='center' :zoom='12'  style='width:100%;  height: 400px;' >
              <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :icon="m.icon"/>
          </GmapMap>
      </b-card-body>
  </b-card>
  </content-with-sidebar>
</template>

<script>
import {
  BCardImg,
  BCardBody,
  BFormInput, BMedia, BAvatar, BMediaAside, BMediaBody, 
  BImg, BLink, BFormGroup, BInputGroup, BInputGroupAppend,
  BCard, BRow, BCol, BBadge, BCardText, BDropdown, 
  BDropdownItem, BForm, BFormTextarea, BFormCheckbox, BButton,
} from 'bootstrap-vue'

import Ripple from 'vue-ripple-directive'

import ContentWithSidebar from '@core/layouts/components/content-with-sidebar/ContentWithSidebar.vue'
import StatisticCardVertical from '@core/components/statistics-cards/StatisticCardVertical.vue'



const { token } = JSON.parse(localStorage.getItem('userData'))

export default {
  components: {
    StatisticCardVertical,
    BCardImg,
    BCardBody,
    BFormInput,
    BMedia,
    BAvatar,
    BMediaAside,
    BMediaBody,
    BLink,
    BCard,
    BRow,
    BCol,
    BFormGroup,
    BInputGroup,
    BInputGroupAppend,
    BImg,
    BBadge,
    BCardText,
    BDropdown,
    BForm,
    BDropdownItem,
    BFormTextarea,
    BFormCheckbox,
    BButton,
    ContentWithSidebar,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      hospitalDetail: {},
      center: { lat: 16.8358858, lng: -99.9317407 },
      markers: [],
      mapOptions: {
          mapTypeControl: false
      },
    }
  },
  created() {
    this.getHospital()
  },
  methods: {
    getHospital(){
      this.$loading(true);
      this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`;
      this.$http
        .get(`/api/hospitals-admin/${this.$route.params.id}`)
        .then(res => {
            this.hospitalDetail = res.data.data ?? {};
            console.log(this.hospitalDetail)
            this.createMarks({
              id: this.hospitalDetail.id, 
              lat: parseFloat(this.hospitalDetail.latitude), 
              lng: parseFloat(this.hospitalDetail.longitude),
              icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
            })
            this.center = {
              lat: parseFloat(this.hospitalDetail.latitude),
              lng: parseFloat(this.hospitalDetail.longitude),
            }
        })
        .catch(err => {
            this.$loading(false);
        })
        .finally(() => {
            this.$loading(false);
        });
    },

    createMarks({ id, lat, lng,icon = "https://www.shareicon.net/data/512x512/2016/08/04/806609_medical_512x512.png" }){
      this.markers.push({
        id: id,
        position: { lat:lat, lng:lng },
        icon:  {
          url: icon,
          size: { width: 40, height: 40, f: 'px', b: 'px' },
          scaledSize: { width: 40, height: 40, f: 'px', b: 'px' },
        },
      });
      
    },

    tagsColor(tag) {
      if (tag === 'Quote') return 'light-info'
      if (tag === 'Gaming') return 'light-danger'
      if (tag === 'Fashion') return 'light-primary'
      if (tag === 'Video') return 'light-warning'
      if (tag === 'Food') return 'light-success'
      return 'light-primary'
    },
    onReady (mapObject) {
      mapObject.locate();
    },
    onLocationFound(location){
      console.log(location)
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-blog.scss';
</style>

<style lang="scss">
.vue2leaflet-map{
  &.leaflet-container{
    height: 350px;
  }
}
</style>