<template>
  <div>
    <form-wizard
      color="#7367F0"
      :title="null"
      :subtitle="null"
      shape="square"
      finish-button-text="Submit"
      back-button-text="Previous"
      class="mb-3"
      @on-complete="formSubmitted"
    >

      <!-- accoint details tab -->
      <tab-content title="Detalle de hospital" :before-change="validationForm">
        <validation-observer ref="accountRules" tag="form" >
          <b-row>
            <b-col cols="12" class="mb-2" >
              <h5 class="mb-0">
                Detalle de hospital
              </h5>
              <small class="text-muted">
                Ingresa los datos generales
              </small>
            </b-col>
            <b-col md="6">
              <b-form-group label="Nombre de hospital" label-for="name" >
                <validation-provider #default="{ errors }" name="nombre de hospital" rules="required" >
                  <b-form-input id="name" v-model="hospital.name" 
                    :state="errors.length > 0 ? false:null" placeholder="Nombre" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group label="Teléfono" label-for="telefono" >
                <validation-provider #default="{ errors }" name="telefono" rules="required|integer">
                  <b-form-input id="telefono"
                    v-model="hospital.phone"
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="4">
              <b-form-group label="Total de camas" label-for="total-cama">
                <validation-provider #default="{ errors }" name="Total de camas" rules="required">
                  <b-form-input
                    id="total-cama"
                    v-model="hospital.bedTotal"
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="4">
              <b-form-group label="Pacientes covid" label-for="paciente-covid">
                <validation-provider #default="{ errors }" name="Paciente covid" rules="required">
                  <b-form-input
                    id="paciente-covid"
                    v-model="hospital.covidPatient"
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="4">
              <b-form-group label="Camas disponibles" label-for="cama-disponible">
                <validation-provider #default="{ errors }" name="Camas disponible" rules="required">
                  <b-form-input
                    id="cama-disponible"
                    v-model="camasDisponible"
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

          </b-row>
        </validation-observer>
      </tab-content>

      <!-- personal details tab -->
      <tab-content title="Ubicación" :before-change="validationFormInfo" >
        <validation-observer ref="infoRules" tag="form" >
          <b-row>
            <b-col cols="12" class="mb-2" >
              <h5 class="mb-0">
                Ubicación del hospital
              </h5>
              <small class="text-muted">Ingresa la ubicación del hospital.</small>
            </b-col>
            
            <b-col md="12">
              <b-form-group label="Direccion" label-for="direccion" >
                <validation-provider #default="{ errors }" name="Dirección" rules="required" >
                  <b-form-input
                    id="direccion"
                    v-model="hospital.address"
                    readonly
                    :state="errors.length > 0 ? false:null"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Latitude" label-for="latitude">
                <validation-provider #default="{ errors }" name="Latitude" ules="required" >
                  <b-form-input
                    id="latitude"
                    v-model="hospital.latitude"
                    :state="errors.length > 0 ? false:null"
                    readonly
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>
            
            <b-col md="6">
              <b-form-group label="Longitude" label-for="longitude">
                <validation-provider #default="{ errors }" name="Longitude" ules="required" >
                  <b-form-input
                    id="longitude"
                    v-model="hospital.longitude"
                    :state="errors.length > 0 ? false:null"
                    readonly
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

          </b-row>
        </validation-observer>
        <b-card class="card-transaction" no-body >
            <b-card-header>
                <div class="input-group col-md-12" id="myAutocomplete">
                    <GmapAutocomplete ref="gmapAutocomplete" @place_changed='setPlace' :options="{fields: ['geometry']}" class="form-control w-100"/>
                </div>
            </b-card-header>
                <b-card-body>
                    <GmapMap :options="mapOptions" :center='center' :zoom='12'  style='width:100%;  height: 400px;' >
                        <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :icon="m.icon"  @click="selectHospitalIcon(m)"/>
                    </GmapMap>
                </b-card-body>
            </b-card>
      </tab-content>

    </form-wizard>
  </div>
</template>

<script>
import { FormWizard, TabContent } from 'vue-form-wizard'
import vSelect from 'vue-select'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,BCardHeader,
  BCard, BCardBody,BCardTitle, BCardSubTitle,
} from 'bootstrap-vue'

import { required, email } from '@validations'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    FormWizard,
    TabContent,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    // eslint-disable-next-line vue/no-unused-components
    ToastificationContent, BCardHeader,
    BCard, BCardBody,BCardTitle, BCardSubTitle,
  },
  data() {
    return {
     hospital: {
            name: '',
            image: null,
            slug: '',
            address: '',
            description: '',
            phone: '',
            bedTotal: 0,
            bedAvailable: 0,
            covidPatient: 0,
            latitude: '',
            longitude:''

        },
      required,
      email,
      center: { lat: 16.8358858, lng: -99.9317407 },
      markers: [],
      mapOptions: {
          mapTypeControl: false
      },
    }
  },
  methods: {
    setPlace(place) {
      this.markers.splice(this.markers.findIndex(v => v.id === 'markerSetPlace' || v.id === 'myId' ), 1);
      this.createMarks({ 
        id: "markerSetPlace", 
        lat: place.geometry.location.lat(), 
        lng: place.geometry.location.lng(), 
        icon: "https://i.pinimg.com/originals/0f/61/ba/0f61ba72e0e12ba59d30a50295964871.png" 
      })
      this.center  = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng(),
      };

      this.hospital.latitude = place.geometry.location.lat()
      this.hospital.longitude = place.geometry.location.lng()

      this.getNameLocation(this.center)
    },
    
    getNameLocation(coordenadas){
      this.$gmapApiPromiseLazy().then(() => {
        const geocoder = new google.maps.Geocoder()
        geocoder.geocode({ 'location': coordenadas  }, function (results, status) {
            if (status === 'OK') {
                if (results[1]) {
                    this.hospital.address = results[1].formatted_address
                }
            }
        }.bind(this))
        })
    },
    
    createMarks({ id, lat, lng,icon = "https://www.shareicon.net/data/512x512/2016/08/04/806609_medical_512x512.png" }){
      this.markers.push({
        id: id,
        position: { lat:lat, lng:lng },
        icon:  {
          url: icon,
          size: {width: 40, height: 40, f: 'px', b: 'px',},
          scaledSize: {width: 40, height: 40, f: 'px', b: 'px',},
        },
      });
    },
    
    formSubmitted() {
        
        const { token } = JSON.parse(localStorage.getItem('userData'))

        this.$loading(true);
        this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`;
        this.$http
            .post("/api/hospitals-admin", this.hospital)
            .then(res => {
                const { message } = res.data;
                this.$toast({
                    component: ToastificationContent,
                    props: {
                        title: message,
                        icon: 'EditIcon',
                        variant: 'success',
                    },
                })
            })
            .catch(err => {
                if( err.response ) {
                    const { message } = err.response.data
                    this.$toast({
                        component: ToastificationContent,
                        props: {
                            title: message,
                            icon: 'EditIcon',
                            variant: 'danger',
                        },
                    })
                }
            })
            .finally(() => {
                this.$loading(false);
            });
      
    },
    
    validationForm() {
      return new Promise((resolve, reject) => {
        this.$refs.accountRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
    
    validationFormInfo() {
      return new Promise((resolve, reject) => {
        this.$refs.infoRules.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
        })
      })
    },
  },

  computed: {
    camasDisponible: function () {
      this.hospital.bedAvailable = this.hospital.bedTotal - this.hospital.covidPatient;
      return this.hospital.bedAvailable;
    }
  },
}
</script>

<style lang="scss">
  @import '@core/scss/vue/libs/vue-wizard.scss';
  @import '@core/scss/vue/libs/vue-select.scss';
</style>